@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeff0;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.main-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

/* Styles for the submit button */
.btn {
  background-color: orange;
  width: 100%;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #2980b9;
}
